/*TABLE OF CONTENTS*/

/*HTML ELEMENTS*/
/*LEFT AND RIGHT SIDE*/
/*BUTTONS*/
/*HEADER AND CARDS*/

/*HTML ELEMENTS*/

* {
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
  background-color: #cfd8dc;
  outline: none;
}

img {
  width: 87%;
  /*height: 10%;*/
}

form {
  width: 80%;
  margin: auto;
  background-color: #455a64;
}

input {
  margin: 2% 0%;
  width: 99.9%;
  background: #ffffff;
}


h1 {
  background-color: #455a64;
}

h2 {
  background-color: #ffffff;
  color: #607d8b;
  width: 100%;
  margin-bottom: 1.5%;
}

a {
  background-color: #ffffff;
  color: #607d8b;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
  word-break: break-all;
}

hr {
  color: #cfd8dc;
  margin-bottom: 1%;
  margin-top: 3%;
}

p {
  text-align: center;
  background-color: #455a64;
  color: #cfd8dc;
  padding-top: 1%;
  font-size: .75em;
}

#counter-numeric {
  background-color: inherit;
}

#read-span, #unread-span {
  background-color: #455a64;
}



/*LEFT AND RIGHT SIDE*/

#right-side {
  padding-left: 50%;
  height: 100%;
     /*float: right;*/
}


.left-side {
  background-color: #455a64;
  width: 50%;
  position: fixed;
  height: 100vh;
  top: 0;
}

#fixer-div {
  position: absolute;
  top: 38%; left: 0; bottom: 0; right: 0;
  background-color: #455a64;
}

/*BUTTONS*/

a:hover, .read-button:hover {
  font-weight: 800;
  color: #455a64;
  text-decoration: underline;
  text-decoration-color: #ffc107;
}

.read {
  color: #f05a28 !important;
  font-weight: 800;
}

.card-read {
  background-color: #f2f4f4 !important;
  text-decoration-color: #cfd8dc !important;
}

.enter-button {
  width: 101%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffc107;
  border: none;
  color: #ffffff;
  font-weight: 800;
  padding: 2.5%;
  margin-top: 2%;
}

.enter-button:hover {
  background-color: #ffd773;
}

.read-button, .delete-button {
  background-color: #ffffff;
  border: none;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
  color: #607d8b;
}

.delete-button {
  position: absolute;
  right: 4%;
  bottom: 5%;
}

.read-button {
  position: absolute;
  left: 4%;
  bottom: 5%;
}

/*HEADER AND CARDS*/

.header {
  text-align: center;
  font-size: 100%;
  width: 100%;
}


.web-title-cards {
  width: 86%;
  height: 20%;
  border: solid;
  padding: 1% 3% 6% 3%;
  margin: 3% 1% 1% 4%;
  background-color: white;
  border-color: #607d8b;
  border-width: 1px;
  position: relative;
}

@media only screen and (max-width: 500px) {

  .left-side {
    position: inherit;
    height: 75px;
    width: 100%;
  }

  #fixer-div {
    top: 42px;
    height: 200px;
  }

  #right-side {
    margin-top: 187px;
    padding-left: 0%;
  }

}
