/*TABLE OF CONTENTS*/

/*HTML ELEMENTS*/
/*LEFT AND RIGHT SIDE*/
/*BUTTONS*/
/*HEADER AND CARDS*/

/*HTML ELEMENTS*/

* {
  margin: 0;
  padding: 0;
  font-family: "open sans", sans-serif;
  background-color: #cfd8dc;
  outline: none;
}

img {
  width: 95%;
  padding-bottom: 4%;
  background-color: #455a64;
}

form {
  width: 90%;
  margin: auto;
  background-color: #455a64;
}

input {
  margin-top: 2%;
  width: 98%;
  background: #ffffff;
  margin-bottom: 4%;
  padding-left: 2%;
  font-size: 250%;
}

h1 {
  background-color: #455a64;
}

h2 {
  background-color: #ffffff;
  color: #607d8b;
  width: 100%;
  margin-bottom: 1.5%;
}

a {
  background-color: #ffffff;
  color: #607d8b;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
  word-break: break-all;
}

hr {
  color: #cfd8dc;
  margin-bottom: 2%;
  margin-top: 3%;
}

p {
  text-align: center;
  background-color: #455a64;
  color: #cfd8dc;
  padding-top: 1%;
  font-size: 1.2em;

}

#counter-numeric {
  background-color: inherit;
}

#read-span, #unread-span {
  background-color: #455a64;
}



/*LEFT AND RIGHT SIDE*/

#right-side {
  padding-left: 50%;
  height: 100%;
     /*float: right;*/
}


.left-side {
  background-color: #455a64;
  width: 50%;
  position: fixed;
  height: 100vh;
  top: 0;
}

#fixer-div {
  position: absolute;
  top: 25%;  left: 0; bottom: 0; right: 0;
  background-color: #455a64;
}

/*BUTTONS*/

a:hover, .read-button:hover {
  font-weight: 800;
  color: #455a64;
  text-decoration: underline;
  text-decoration-color: #ffc107;
}

.read {
  color: #f05a28 !important;
  font-weight: 800;
}

.card-read {
  background-color: #f2f4f4 !important;
  text-decoration-color: #cfd8dc !important;
}

.enter-button {
  width: 101%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffc107;
  border: none;
  color: #ffffff;
  font-weight: 800;
  font-size: 150%;
  padding: 1.5%;
  margin-top: 2%;

}

.enter-button:hover {
  background-color: #ffd773;
}

.read-button, .delete-button {
  background-color: #ffffff;
  border: none;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
  color: #607d8b;
}

.delete-button {
  position: absolute;
  right: 4%;
  bottom: 5%;
}

.read-button {
  position: absolute;
  left: 4%;
  bottom: 5%;
}

/*HEADER AND CARDS*/

.header {
  text-align: center;
  font-size: 100%;
  width: 100%;
}


.web-title-cards {
  width: 86%;
  height: 20%;
  border: solid;
  padding: 1% 3% 3% 3%;
  margin: 3% 1% 1% 4%;
  background-color: white;
  border-color: #607d8b;
  border-width: 1px;
  position: relative;
}

@media only screen and (max-width: 880px) {

  input {
    font-size: 150%;
  }

  .enter-button {
    font-size: 80%;
  }

  .web-title-cards {
    padding: 1% 3% 6% 3%;
  }

  /*look into this, maybe min-width*/

@media only screen and (max-width: 500px) {

  .left-side {
    position: fixed;
    z-index: 1;
    height: 75px;
    width: 100%;
  }

  img {
    padding-bottom: 0%;
    width: 60%;
  }

  input {
    font-size: initial;
  }

  p {
    font-size: 0.8em;
  }

  #fixer-div {
    top: 15px;
    height: 240px;
    padding-bottom: 10%;
  }

  #right-side {
    margin-top: 320px;
    padding-left: 0%;
  }

  .enter-button {
    font-size: 90%;
  }

  .web-title-cards {
    padding: 1% 3% 6% 3%;
  }

}

@media only screen and (max-width: 400px) {

  #fixer-div {
    top: 15px;
    height: 220px;
    padding-bottom: 10%;
  }

  #right-side {
    margin-top: 275px;
    padding-left: 0%;
  }

  .web-title-cards {
    padding: 1% 3% 6% 3%;
  }

}
